# all/tree_with_60_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.55

	Average Initialized Requests: 10.65

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 59



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.8 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 1.8 × 10<sup>-02</sup>

Median Latency: 1.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.8 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 81

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 22%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 35.80

	Average Sent Requests: 0.57

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.79

	Average Count of Disabled Nodes: 0.00

