# all/tree_with_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.85

	Average Total Retries: 3.75

	Average Initialized Requests: 11.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 7 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 68



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.39 × 10<sup>-02</sup>

Max Latency: 1.41 × 10<sup>-02</sup>

Min Latency: 1.38 × 10<sup>-02</sup>

Median Latency: 1.39 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.39 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 71

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 29%

	Average Query Hit Efficiency (Forwarded QH / Received): 5%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 11.35

	Average Sent Requests: 0.99

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 1.46

	Average Count of Disabled Nodes: 0.00

