# all/cluster_6_with_4_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.90

	Average Total Retries: 2.15

	Average Initialized Requests: 6.45

	Average Success Rate (Unique Query Hits / Initialized Requests): 21 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 32



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.56

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 1.00

Standard Deviation of Hops: 0.70


Average Latency: 1.0 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 7.5 × 10<sup>-03</sup>

Median Latency: 9.7 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 39

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 40%

	Average Query Hit Efficiency (Forwarded QH / Received): 5%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 10.40

	Average Sent Requests: 0.73

	Average Forwarded Query Hits: 0.06

	Average Received Requests: 0.90

	Average Count of Disabled Nodes: 0.00

