# all/cluster_6_with_4_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.90

	Average Initialized Requests: 5.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 21 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 34



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.80

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 2.00

Standard Deviation of Hops: 0.77


Average Latency: 1.2 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 7.8 × 10<sup>-03</sup>

Median Latency: 1.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.5 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 34

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 40%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 9.95

	Average Sent Requests: 0.62

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 0.81

	Average Count of Disabled Nodes: 0.00

