# all/cluster_6_with_4_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 3.20

	Average Initialized Requests: 9.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 12 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 44



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.19

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 1.00

Standard Deviation of Hops: 0.54


Average Latency: 9.2 × 10<sup>-03</sup>

Max Latency: 1.7 × 10<sup>-02</sup>

Min Latency: 6.6 × 10<sup>-03</sup>

Median Latency: 8.4 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 53

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 50%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.65

	Average Sent Requests: 1.06

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 1.23

	Average Count of Disabled Nodes: 0.00

