# all/cluster_6_with_4_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 2.70

	Average Initialized Requests: 8.10

	Average True Success Rate (Any Query Hits): 95 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 2 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 42



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.74

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 2.00

Standard Deviation of Hops: 0.79


Average Latency: 1.14 × 10<sup>-02</sup>

Max Latency: 1.78 × 10<sup>-02</sup>

Min Latency: 7.76 × 10<sup>-03</sup>

Median Latency: 1.15 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.39 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 44

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 42%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 9.90

	Average Sent Requests: 0.84

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 1.04

	Average Count of Disabled Nodes: 0.00

