# all/3_regular_40_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 3.00

	Average Initialized Requests: 6.00

	Average True Success Rate (Any Query Hits): 95 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 23 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 95



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.34

Min Hops: 4.00

Max Hops: 16.00

Median Hops: 7.00

Standard Deviation of Hops: 3.50


Average Latency: 3.52 × 10<sup>-02</sup>

Max Latency: 7.16 × 10<sup>-02</sup>

Min Latency: 1.95 × 10<sup>-02</sup>

Median Latency: 3.33 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.50 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 98

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 42%

	Average Query Hit Efficiency (Forwarded QH / Received): 12%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 15.15

	Average Sent Requests: 1.07

	Average Forwarded Query Hits: 0.19

	Average Received Requests: 1.33

	Average Count of Disabled Nodes: 0.00

