# all/3_regular_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.70

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.70

	Average Total Retries: 4.15

	Average Initialized Requests: 8.30

	Average Success Rate (Unique Query Hits / Initialized Requests): 10 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 97



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.79

Min Hops: 4.00

Max Hops: 9.00

Median Hops: 6.00

Standard Deviation of Hops: 1.67


Average Latency: 2.8 × 10<sup>-02</sup>

Max Latency: 4.6 × 10<sup>-02</sup>

Min Latency: 1.7 × 10<sup>-02</sup>

Median Latency: 2.6 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.4 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 105

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 49%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 13.55

	Average Sent Requests: 1.21

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 1.46

	Average Count of Disabled Nodes: 0.00

