# all/3_regular_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 3.80

	Average Initialized Requests: 7.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 12 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 85



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.19

Min Hops: 4.00

Max Hops: 12.00

Median Hops: 5.00

Standard Deviation of Hops: 2.69


Average Latency: 3.04 × 10<sup>-02</sup>

Max Latency: 6.02 × 10<sup>-02</sup>

Min Latency: 1.98 × 10<sup>-02</sup>

Median Latency: 2.44 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.22 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 91

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 40%

	Average Query Hit Efficiency (Forwarded QH / Received): 9%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 16.25

	Average Sent Requests: 1.01

	Average Forwarded Query Hits: 0.13

	Average Received Requests: 1.27

	Average Count of Disabled Nodes: 0.00

