# disabled/3_regular_40_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.90

	Average Total Retries: 3.60

	Average Initialized Requests: 7.20

	Average Success Rate (Unique Query Hits / Initialized Requests): 17 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 65



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.10

Min Hops: 4.00

Max Hops: 16.00

Median Hops: 5.00

Standard Deviation of Hops: 3.35


Average Latency: 3.1 × 10<sup>-02</sup>

Max Latency: 6.8 × 10<sup>-02</sup>

Min Latency: 2.0 × 10<sup>-02</sup>

Median Latency: 2.6 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.4 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 86

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 44%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 14.15

	Average Sent Requests: 0.96

	Average Forwarded Query Hits: 0.15

	Average Received Requests: 1.16

	Average Count of Disabled Nodes: 1.00

