# disabled/3_regular_40_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.75

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.75

	Average Total Retries: 3.65

	Average Initialized Requests: 7.30

	Average True Success Rate (Any Query Hits): 70 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 14 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 79



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.57

Min Hops: 4.00

Max Hops: 15.00

Median Hops: 8.00

Standard Deviation of Hops: 3.11


Average Latency: 3.61 × 10<sup>-02</sup>

Max Latency: 6.48 × 10<sup>-02</sup>

Min Latency: 1.91 × 10<sup>-02</sup>

Median Latency: 3.73 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.36 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 92

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 46%

	Average Query Hit Efficiency (Forwarded QH / Received): 12%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 13.25

	Average Sent Requests: 1.04

	Average Forwarded Query Hits: 0.15

	Average Received Requests: 1.24

	Average Count of Disabled Nodes: 1.00

