# disabled/3_regular_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.20

	Average Initialized Requests: 8.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 71



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.75

Min Hops: 4.00

Max Hops: 10.00

Median Hops: 5.00

Standard Deviation of Hops: 1.80


Average Latency: 2.9 × 10<sup>-02</sup>

Max Latency: 5.3 × 10<sup>-02</sup>

Min Latency: 1.6 × 10<sup>-02</sup>

Median Latency: 2.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.5 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 80

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 45%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 14.10

	Average Sent Requests: 0.91

	Average Forwarded Query Hits: 0.10

	Average Received Requests: 1.12

	Average Count of Disabled Nodes: 1.00

