# disabled/3_regular_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.65

	Average Total Retries: 4.35

	Average Initialized Requests: 8.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 84



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.23

Min Hops: 4.00

Max Hops: 11.00

Median Hops: 6.00

Standard Deviation of Hops: 2.13


Average Latency: 3.0 × 10<sup>-02</sup>

Max Latency: 4.8 × 10<sup>-02</sup>

Min Latency: 2.1 × 10<sup>-02</sup>

Median Latency: 3.1 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 84

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 44%

	Average Query Hit Efficiency (Forwarded QH / Received): 7%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 13.95

	Average Sent Requests: 0.95

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 1.16

	Average Count of Disabled Nodes: 1.00

