# all/tree_with_80_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.00

	Average Initialized Requests: 4.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 25 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 147



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 5.00

Max Hops: 5.00

Median Hops: 5.00

Standard Deviation of Hops: 0.00


Average Latency: 2.2 × 10<sup>-02</sup>

Max Latency: 2.2 × 10<sup>-02</sup>

Min Latency: 2.2 × 10<sup>-02</sup>

Median Latency: 2.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.8 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 147

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 39%

	Average Query Hit Efficiency (Forwarded QH / Received): 5%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.58

	Average Forwarded Query Hits: 0.06

	Average Received Requests: 1.24

	Average Count of Disabled Nodes: 0.00

