# all/tree_with_80_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.30

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.30

	Average Total Retries: 4.75

	Average Initialized Requests: 14.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 108



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 5.00

Max Hops: 5.00

Median Hops: 5.00

Standard Deviation of Hops: 0.00


Average Latency: 2.31 × 10<sup>-02</sup>

Max Latency: 2.32 × 10<sup>-02</sup>

Min Latency: 2.30 × 10<sup>-02</sup>

Median Latency: 2.31 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.44 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 118

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 26%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 46.10

	Average Sent Requests: 0.65

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.85

	Average Count of Disabled Nodes: 0.00

