# all/tree_with_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.55

	Average Total Retries: 3.90

	Average Initialized Requests: 11.70

	Average True Success Rate (Any Query Hits): 55 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 6 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 66



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.80 × 10<sup>-02</sup>

Max Latency: 1.81 × 10<sup>-02</sup>

Min Latency: 1.78 × 10<sup>-02</sup>

Median Latency: 1.79 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.63 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 84

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 25%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 25.90

	Average Sent Requests: 0.72

	Average Forwarded Query Hits: 0.05

	Average Received Requests: 1.00

	Average Count of Disabled Nodes: 0.00

