# all/3_regular_10_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 16



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.00

Min Hops: 1.00

Max Hops: 1.00

Median Hops: 1.00

Standard Deviation of Hops: 0.00


Average Latency: 8.3 × 10<sup>-03</sup>

Max Latency: 9.1 × 10<sup>-03</sup>

Min Latency: 7.6 × 10<sup>-03</sup>

Median Latency: 8.2 × 10<sup>-03</sup>

Standard Deviation of Latency: 4.5 × 10<sup>-04</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 16

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 12%

	Average Query Hit Efficiency (Forwarded QH / Received): 12%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.38

	Average Forwarded Query Hits: 0.12

	Average Received Requests: 1.50

	Average Count of Disabled Nodes: 0.00

