# all/3_regular_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.10

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.10

	Average Total Retries: 2.85

	Average Initialized Requests: 5.70

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 20 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 17



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.38

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 1.00

Standard Deviation of Hops: 0.67


Average Latency: 9.94 × 10<sup>-03</sup>

Max Latency: 1.69 × 10<sup>-02</sup>

Min Latency: 7.76 × 10<sup>-03</sup>

Median Latency: 8.77 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.76 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 18

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 22%

	Average Query Hit Efficiency (Forwarded QH / Received): 16%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 2.70

	Average Sent Requests: 0.68

	Average Forwarded Query Hits: 0.19

	Average Received Requests: 1.45

	Average Count of Disabled Nodes: 0.00

