# all/3_regular_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.95

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 2.80

	Average Initialized Requests: 5.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 19 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 16



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.37

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 1.00

Standard Deviation of Hops: 0.60


Average Latency: 9.3 × 10<sup>-03</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 6.6 × 10<sup>-03</sup>

Median Latency: 8.4 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.9 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 18

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 23%

	Average Query Hit Efficiency (Forwarded QH / Received): 13%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 2.65

	Average Sent Requests: 0.69

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 1.42

	Average Count of Disabled Nodes: 0.00

