# all/3_regular_10_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.15

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.05

	Average Total Retries: 3.20

	Average Initialized Requests: 6.40

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 17 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 17



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.12

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.34


Average Latency: 8.89 × 10<sup>-03</sup>

Max Latency: 1.20 × 10<sup>-02</sup>

Min Latency: 7.63 × 10<sup>-03</sup>

Median Latency: 8.69 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.18 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 18

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 21%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 2.80

	Average Sent Requests: 0.64

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 1.46

	Average Count of Disabled Nodes: 0.00

