# all/3_regular_10_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 3.75

	Average Initialized Requests: 7.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 14 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 22



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.37

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.49


Average Latency: 9.5 × 10<sup>-03</sup>

Max Latency: 1.3 × 10<sup>-02</sup>

Min Latency: 6.4 × 10<sup>-03</sup>

Median Latency: 9.5 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.0 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 23

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 27%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 1.65

	Average Sent Requests: 0.88

	Average Forwarded Query Hits: 0.17

	Average Received Requests: 1.86

	Average Count of Disabled Nodes: 0.00

