# all/4_regular_200_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 3.00

	Median Query Hits: 3.00

	Max Query Hits: 3.00

	Average Unique Query Hits: 2.00

	Average Total Retries: 2.00

	Average Initialized Requests: 8.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 25 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 33 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 518



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 4.00

Max Hops: 6.00

Median Hops: 5.00

Standard Deviation of Hops: 0.82


Average Latency: 2.52 × 10<sup>-02</sup>

Max Latency: 3.22 × 10<sup>-02</sup>

Min Latency: 1.92 × 10<sup>-02</sup>

Median Latency: 2.52 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.75 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 1037

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 58%

	Average Query Hit Efficiency (Forwarded QH / Received): 5%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 1.92

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 3.24

	Average Count of Disabled Nodes: 0.00

