# all/4_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.15

	Average Initialized Requests: 8.30

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 89



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.77

Min Hops: 2.00

Max Hops: 5.00

Median Hops: 2.50

Standard Deviation of Hops: 1.11


Average Latency: 1.56 × 10<sup>-02</sup>

Max Latency: 2.54 × 10<sup>-02</sup>

Min Latency: 1.14 × 10<sup>-02</sup>

Median Latency: 1.47 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.46 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 149

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 26%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 139.25

	Average Sent Requests: 0.35

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.40

	Average Count of Disabled Nodes: 0.00

