# all/4_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.45

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.45

	Average Total Retries: 4.55

	Average Initialized Requests: 9.10

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 127



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 2.00

Max Hops: 20.00

Median Hops: 2.00

Standard Deviation of Hops: 5.96


Average Latency: 2.5 × 10<sup>-02</sup>

Max Latency: 8.9 × 10<sup>-02</sup>

Min Latency: 1.1 × 10<sup>-02</sup>

Median Latency: 1.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.6 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 175

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 30%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 131.10

	Average Sent Requests: 0.41

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.46

	Average Count of Disabled Nodes: 0.00

