# all/4_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.75

	Average Total Retries: 3.75

	Average Initialized Requests: 18.75

	Average True Success Rate (Any Query Hits): 75 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 2 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 153



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.87

Min Hops: 2.00

Max Hops: 7.00

Median Hops: 2.00

Standard Deviation of Hops: 1.38


Average Latency: 1.63 × 10<sup>-02</sup>

Max Latency: 3.43 × 10<sup>-02</sup>

Min Latency: 1.17 × 10<sup>-02</sup>

Median Latency: 1.36 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.93 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 190

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 23%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 138.50

	Average Sent Requests: 0.43

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.53

	Average Count of Disabled Nodes: 0.00

