# all/4_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.85

	Average Total Retries: 3.45

	Average Initialized Requests: 17.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 6 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 15 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 130



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.25

Min Hops: 2.00

Max Hops: 10.00

Median Hops: 2.50

Standard Deviation of Hops: 1.90


Average Latency: 1.7 × 10<sup>-02</sup>

Max Latency: 4.2 × 10<sup>-02</sup>

Min Latency: 9.9 × 10<sup>-03</sup>

Median Latency: 1.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 168

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 19%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 145.70

	Average Sent Requests: 0.37

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.47

	Average Count of Disabled Nodes: 0.00

