# disabled/tree_with_50_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.60

	Average Initialized Requests: 4.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 7 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 32



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.80 × 10<sup>-02</sup>

Max Latency: 1.80 × 10<sup>-02</sup>

Min Latency: 1.79 × 10<sup>-02</sup>

Median Latency: 1.80 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.26 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 36

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 19%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 33.70

	Average Sent Requests: 0.32

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.43

	Average Count of Disabled Nodes: 0.00

