# disabled/tree_with_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.20

	Average Initialized Requests: 12.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 83



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.8 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 1.8 × 10<sup>-02</sup>

Median Latency: 1.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.9 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 92

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 28%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 24.65

	Average Sent Requests: 0.78

	Average Forwarded Query Hits: 0.05

	Average Received Requests: 1.08

	Average Count of Disabled Nodes: 0.00

