# all/tree_with_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.95

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 2.90

	Average Initialized Requests: 2.90

	Average True Success Rate (Any Query Hits): 95 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 48 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 15



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.01 × 10<sup>-02</sup>

Max Latency: 1.01 × 10<sup>-02</sup>

Min Latency: 1.01 × 10<sup>-02</sup>

Median Latency: 1.01 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.46 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 15

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 20%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 3.65

	Average Sent Requests: 0.59

	Average Forwarded Query Hits: 0.24

	Average Received Requests: 1.07

	Average Count of Disabled Nodes: 0.00

