# all/tree_with_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.35

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.35

	Average Total Retries: 4.50

	Average Initialized Requests: 13.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 3 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 76



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.8 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 1.8 × 10<sup>-02</sup>

Median Latency: 1.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.0 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 90

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 31%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 16.20

	Average Sent Requests: 0.98

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 1.36

	Average Count of Disabled Nodes: 0.00

