# disabled/cluster_6_with_20_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 7.00

	Median Query Hits: 7.00

	Max Query Hits: 7.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 600 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 597



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.86

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.35


Average Latency: 1.2 × 10<sup>-02</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 7.8 × 10<sup>-03</sup>

Median Latency: 1.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 597

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 8%

	Average Query Hit Efficiency (Forwarded QH / Received): 10%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 29.00

	Average Sent Requests: 0.55

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 4.35

	Average Count of Disabled Nodes: 24.00

