# disabled/cluster_6_with_20_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.55

	Average Initialized Requests: 13.65

	Average Success Rate (Unique Query Hits / Initialized Requests): 3 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 53



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.40

Min Hops: 1.00

Max Hops: 5.00

Median Hops: 2.00

Standard Deviation of Hops: 1.67


Average Latency: 1.5 × 10<sup>-02</sup>

Max Latency: 2.6 × 10<sup>-02</sup>

Min Latency: 8.6 × 10<sup>-03</sup>

Median Latency: 1.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 73

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 20%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 68.35

	Average Sent Requests: 0.30

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.32

	Average Count of Disabled Nodes: 24.00

