# disabled/cluster_6_with_20_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.20

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.20

	Average Total Retries: 4.65

	Average Initialized Requests: 13.95

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 30



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 1.00

Max Hops: 3.00

Median Hops: 2.00

Standard Deviation of Hops: 1.15


Average Latency: 1.29 × 10<sup>-02</sup>

Max Latency: 1.80 × 10<sup>-02</sup>

Min Latency: 7.55 × 10<sup>-03</sup>

Median Latency: 1.30 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.32 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 64

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 71.80

	Average Sent Requests: 0.26

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.29

	Average Count of Disabled Nodes: 24.00

