# disabled/megagraph_3_clusters --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 3.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 33 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 52



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.2 × 10<sup>-02</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 9.5 × 10<sup>-03</sup>

Median Latency: 1.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 52

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 22%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 5.00

	Average Sent Requests: 0.26

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.74

	Average Count of Disabled Nodes: 10.00

