# disabled/megagraph_3_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.55

	Average Total Retries: 4.20

	Average Initialized Requests: 8.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 44



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.64

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 3.00

Standard Deviation of Hops: 0.67


Average Latency: 1.50 × 10<sup>-02</sup>

Max Latency: 2.06 × 10<sup>-02</sup>

Min Latency: 1.14 × 10<sup>-02</sup>

Median Latency: 1.52 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.08 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 48

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 25%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 25.05

	Average Sent Requests: 0.45

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.50

	Average Count of Disabled Nodes: 10.00

