# disabled/megagraph_3_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.75

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.75

	Average Initialized Requests: 11.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 7 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 15 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 49



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.75

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 3.00

Standard Deviation of Hops: 0.68


Average Latency: 1.5 × 10<sup>-02</sup>

Max Latency: 2.0 × 10<sup>-02</sup>

Min Latency: 1.1 × 10<sup>-02</sup>

Median Latency: 1.6 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 62

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 25%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 23.90

	Average Sent Requests: 0.55

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.65

	Average Count of Disabled Nodes: 10.00

