# disabled/megagraph_3_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.45

	Average Total Retries: 4.05

	Average Initialized Requests: 12.15

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 48



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.72

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 3.00

Standard Deviation of Hops: 0.63


Average Latency: 1.6 × 10<sup>-02</sup>

Max Latency: 2.1 × 10<sup>-02</sup>

Min Latency: 1.1 × 10<sup>-02</sup>

Median Latency: 1.7 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 62

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 27%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 23.05

	Average Sent Requests: 0.57

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.66

	Average Count of Disabled Nodes: 10.00

