# disabled/tree_with_10_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 2.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 50 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 16



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 9.99 × 10<sup>-03</sup>

Max Latency: 1.00 × 10<sup>-02</sup>

Min Latency: 9.97 × 10<sup>-03</sup>

Median Latency: 9.99 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.54 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 16

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 25%

	Average Query Hit Efficiency (Forwarded QH / Received): 25%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.50

	Average Forwarded Query Hits: 0.25

	Average Received Requests: 1.25

	Average Count of Disabled Nodes: 0.00

