# disabled/tree_with_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.85

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.85

	Average Total Retries: 2.90

	Average Initialized Requests: 2.90

	Average Success Rate (Unique Query Hits / Initialized Requests): 46 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 13



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.01 × 10<sup>-02</sup>

Max Latency: 1.01 × 10<sup>-02</sup>

Min Latency: 1.01 × 10<sup>-02</sup>

Median Latency: 1.01 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.50 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 14

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 16%

	Average Query Hit Efficiency (Forwarded QH / Received): 18%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 3.65

	Average Sent Requests: 0.56

	Average Forwarded Query Hits: 0.21

	Average Received Requests: 1.02

	Average Count of Disabled Nodes: 0.00

