# all/megagraph_5_clusters --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 315



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.26 × 10<sup>-02</sup>

Max Latency: 1.36 × 10<sup>-02</sup>

Min Latency: 1.16 × 10<sup>-02</sup>

Median Latency: 1.26 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.79 × 10<sup>-04</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 315

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 34%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.35

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 1.01

	Average Count of Disabled Nodes: 0.00

