# all/megagraph_5_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.10

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.10

	Average Total Retries: 4.90

	Average Initialized Requests: 14.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 0 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 87



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.34 × 10<sup>-02</sup>

Max Latency: 1.35 × 10<sup>-02</sup>

Min Latency: 1.32 × 10<sup>-02</sup>

Median Latency: 1.34 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.66 × 10<sup>-04</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 108

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 186.50

	Average Sent Requests: 0.23

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.24

	Average Count of Disabled Nodes: 0.00

