# all/megagraph_5_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.20

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.20

	Average Total Retries: 4.70

	Average Initialized Requests: 14.10

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 77



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.50

Min Hops: 2.00

Max Hops: 3.00

Median Hops: 2.50

Standard Deviation of Hops: 0.58


Average Latency: 1.3 × 10<sup>-02</sup>

Max Latency: 1.6 × 10<sup>-02</sup>

Min Latency: 1.0 × 10<sup>-02</sup>

Median Latency: 1.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 104

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 187.40

	Average Sent Requests: 0.22

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.23

	Average Count of Disabled Nodes: 0.00

