# all/megagraph_5_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.20

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.20

	Average Total Retries: 4.70

	Average Initialized Requests: 23.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 1 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 118



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.75

Min Hops: 2.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.50


Average Latency: 1.6 × 10<sup>-02</sup>

Max Latency: 1.8 × 10<sup>-02</sup>

Min Latency: 1.2 × 10<sup>-02</sup>

Median Latency: 1.7 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.0 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 163

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 23%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 170.70

	Average Sent Requests: 0.34

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.37

	Average Count of Disabled Nodes: 0.00

