# all/megagraph_5_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.70

	Average Initialized Requests: 23.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 1 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 128



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.40

Min Hops: 2.00

Max Hops: 3.00

Median Hops: 2.00

Standard Deviation of Hops: 0.55


Average Latency: 1.5 × 10<sup>-02</sup>

Max Latency: 2.0 × 10<sup>-02</sup>

Min Latency: 1.3 × 10<sup>-02</sup>

Median Latency: 1.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.1 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 163

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 24%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 169.20

	Average Sent Requests: 0.34

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.37

	Average Count of Disabled Nodes: 0.00

