# disabled/tree_with_30_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.50

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.35

	Average Initialized Requests: 4.35

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 28



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.39 × 10<sup>-02</sup>

Max Latency: 1.39 × 10<sup>-02</sup>

Min Latency: 1.39 × 10<sup>-02</sup>

Median Latency: 1.39 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.31 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 30

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 20%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 18.00

	Average Sent Requests: 0.43

	Average Forwarded Query Hits: 0.05

	Average Received Requests: 0.62

	Average Count of Disabled Nodes: 0.00

