# disabled/tree_with_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.85

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.85

	Average Total Retries: 3.35

	Average Initialized Requests: 10.05

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 57



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.4 × 10<sup>-02</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 1.4 × 10<sup>-02</sup>

Median Latency: 1.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.4 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 62

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 27%

	Average Query Hit Efficiency (Forwarded QH / Received): 5%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 12.60

	Average Sent Requests: 0.86

	Average Forwarded Query Hits: 0.09

	Average Received Requests: 1.28

	Average Count of Disabled Nodes: 0.00

