# disabled/tree_with_40_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.00

	Average Initialized Requests: 4.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 25 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 85



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.75 × 10<sup>-02</sup>

Max Latency: 1.76 × 10<sup>-02</sup>

Min Latency: 1.75 × 10<sup>-02</sup>

Median Latency: 1.75 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.75 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 85

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 32%

	Average Query Hit Efficiency (Forwarded QH / Received): 7%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.66

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 1.47

	Average Count of Disabled Nodes: 0.00

