# disabled/tree_with_40_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.30

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.30

	Average Total Retries: 4.60

	Average Initialized Requests: 4.60

	Average True Success Rate (Any Query Hits): 30 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 33



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.77 × 10<sup>-02</sup>

Max Latency: 1.77 × 10<sup>-02</sup>

Min Latency: 1.77 × 10<sup>-02</sup>

Median Latency: 1.77 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.74 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 34

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 19%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 26.00

	Average Sent Requests: 0.37

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.51

	Average Count of Disabled Nodes: 0.00

