# disabled/tree_with_40_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 3.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.95

	Average Initialized Requests: 11.85

	Average Success Rate (Unique Query Hits / Initialized Requests): 6 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 11 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 72



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 1.77 × 10<sup>-02</sup>

Max Latency: 1.79 × 10<sup>-02</sup>

Min Latency: 1.76 × 10<sup>-02</sup>

Median Latency: 1.77 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.40 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 83

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 27%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 18.25

	Average Sent Requests: 0.85

	Average Forwarded Query Hits: 0.09

	Average Received Requests: 1.24

	Average Count of Disabled Nodes: 0.00

