# all/cluster_6_with_30_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 15.00

	Median Query Hits: 15.00

	Max Query Hits: 15.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 93 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 2810



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.93

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.25


Average Latency: 1.30 × 10<sup>-02</sup>

Max Latency: 1.47 × 10<sup>-02</sup>

Min Latency: 7.75 × 10<sup>-03</sup>

Median Latency: 1.33 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.40 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 2810

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 8%

	Average Query Hit Efficiency (Forwarded QH / Received): 16%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 1.00

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 14.54

	Average Count of Disabled Nodes: 0.00

