# all/cluster_6_with_30_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.40

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.40

	Average Total Retries: 4.10

	Average Initialized Requests: 12.30

	Average True Success Rate (Any Query Hits): 40 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 90



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.75

Min Hops: 1.00

Max Hops: 9.00

Median Hops: 2.00

Standard Deviation of Hops: 2.66


Average Latency: 1.56 × 10<sup>-02</sup>

Max Latency: 3.98 × 10<sup>-02</sup>

Min Latency: 8.24 × 10<sup>-03</sup>

Median Latency: 1.20 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.05 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 159

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 32%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 115.65

	Average Sent Requests: 0.43

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.46

	Average Count of Disabled Nodes: 0.00

