# all/cluster_6_with_30_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.50

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.30

	Average Initialized Requests: 12.90

	Average True Success Rate (Any Query Hits): 50 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 108



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.20

Min Hops: 1.00

Max Hops: 8.00

Median Hops: 4.00

Standard Deviation of Hops: 2.04


Average Latency: 2.19 × 10<sup>-02</sup>

Max Latency: 3.86 × 10<sup>-02</sup>

Min Latency: 8.97 × 10<sup>-03</sup>

Median Latency: 2.10 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.02 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 136

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 25%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 124.85

	Average Sent Requests: 0.35

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.40

	Average Count of Disabled Nodes: 0.00

