# all/tree_with_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.30

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.30

	Average Total Retries: 4.65

	Average Initialized Requests: 4.65

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 26



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.4 × 10<sup>-02</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 1.4 × 10<sup>-02</sup>

Median Latency: 1.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.8 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 27

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 29%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.05

	Average Sent Requests: 0.58

	Average Forwarded Query Hits: 0.05

	Average Received Requests: 0.87

	Average Count of Disabled Nodes: 0.00

