# disabled/megagraph_5_clusters --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 185



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.3 × 10<sup>-02</sup>

Max Latency: 1.5 × 10<sup>-02</sup>

Min Latency: 1.0 × 10<sup>-02</sup>

Median Latency: 1.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 185

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 22%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 57.00

	Average Sent Requests: 0.23

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.56

	Average Count of Disabled Nodes: 46.00

