# disabled/megagraph_5_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.05

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.05

	Average Total Retries: 5.00

	Average Initialized Requests: 15.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 0 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 78



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: nan


Average Latency: 1.2 × 10<sup>-02</sup>

Max Latency: 1.2 × 10<sup>-02</sup>

Min Latency: 1.2 × 10<sup>-02</sup>

Median Latency: 1.2 × 10<sup>-02</sup>

Standard Deviation of Latency: nan</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 69

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 10%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 157.80

	Average Sent Requests: 0.15

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.16

	Average Count of Disabled Nodes: 46.00

