# disabled/megagraph_5_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.15

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.15

	Average Total Retries: 4.80

	Average Initialized Requests: 24.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 0 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 80



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.4 × 10<sup>-02</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 1.3 × 10<sup>-02</sup>

Median Latency: 1.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.3 × 10<sup>-04</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 105

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 13%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 148.60

	Average Sent Requests: 0.22

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.24

	Average Count of Disabled Nodes: 46.00

