# disabled/5_regular_200_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 13.00

	Median Query Hits: 13.00

	Max Query Hits: 13.00

	Average Unique Query Hits: 3.00

	Average Total Retries: 2.00

	Average Initialized Requests: 10.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 30 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 333 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 632



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.92

Min Hops: 4.00

Max Hops: 7.00

Median Hops: 6.00

Standard Deviation of Hops: 1.14


Average Latency: 3.0 × 10<sup>-02</sup>

Max Latency: 4.2 × 10<sup>-02</sup>

Min Latency: 1.7 × 10<sup>-02</sup>

Median Latency: 2.9 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.2 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 1896

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 43%

	Average Query Hit Efficiency (Forwarded QH / Received): 10%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 3.37

	Average Forwarded Query Hits: 0.39

	Average Received Requests: 5.82

	Average Count of Disabled Nodes: 40.00

