# disabled/5_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.15

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.15

	Average Total Retries: 4.65

	Average Initialized Requests: 13.95

	Average Success Rate (Unique Query Hits / Initialized Requests): 1 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 47



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 4.00

Max Hops: 6.00

Median Hops: 5.00

Standard Deviation of Hops: 1.00


Average Latency: 2.56 × 10<sup>-02</sup>

Max Latency: 3.22 × 10<sup>-02</sup>

Min Latency: 2.15 × 10<sup>-02</sup>

Median Latency: 2.31 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.73 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 87

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 14%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 126.65

	Average Sent Requests: 0.21

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.23

	Average Count of Disabled Nodes: 40.00

