# disabled/5_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.10

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.10

	Average Total Retries: 4.80

	Average Initialized Requests: 14.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 1 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 53



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.50

Min Hops: 4.00

Max Hops: 5.00

Median Hops: 4.50

Standard Deviation of Hops: 0.71


Average Latency: 2.7 × 10<sup>-02</sup>

Max Latency: 3.0 × 10<sup>-02</sup>

Min Latency: 2.4 × 10<sup>-02</sup>

Median Latency: 2.7 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 82

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 14%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 127.80

	Average Sent Requests: 0.20

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.21

	Average Count of Disabled Nodes: 40.00

