# disabled/5_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.10

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.10

	Average Total Retries: 4.95

	Average Initialized Requests: 24.75

	Average Success Rate (Unique Query Hits / Initialized Requests): 0 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 149



## Average Query Hits Test Results:
<pre><code>Average Hops: 8.50

Min Hops: 6.00

Max Hops: 11.00

Median Hops: 8.50

Standard Deviation of Hops: 3.54


Average Latency: 4.1 × 10<sup>-02</sup>

Max Latency: 5.4 × 10<sup>-02</sup>

Min Latency: 2.9 × 10<sup>-02</sup>

Median Latency: 4.1 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.8 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 133

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 117.60

	Average Sent Requests: 0.32

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.35

	Average Count of Disabled Nodes: 40.00

