# disabled/5_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.15

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.15

	Average Total Retries: 4.80

	Average Initialized Requests: 24.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 0 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 95



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.67

Min Hops: 5.00

Max Hops: 6.00

Median Hops: 6.00

Standard Deviation of Hops: 0.58


Average Latency: 2.7 × 10<sup>-02</sup>

Max Latency: 3.2 × 10<sup>-02</sup>

Min Latency: 2.3 × 10<sup>-02</sup>

Median Latency: 2.6 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 121

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 15%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 122.00

	Average Sent Requests: 0.29

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.32

	Average Count of Disabled Nodes: 40.00

