# disabled/3_regular_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.75

	Average Initialized Requests: 5.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 19 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 13



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.10

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.31


Average Latency: 8.8 × 10<sup>-03</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 7.8 × 10<sup>-03</sup>

Median Latency: 8.5 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.4 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 13

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 17%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 1.95

	Average Sent Requests: 0.51

	Average Forwarded Query Hits: 0.14

	Average Received Requests: 1.04

	Average Count of Disabled Nodes: 2.00

