# disabled/3_regular_10_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.95

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 3.30

	Average Initialized Requests: 6.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 17



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.37

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.50


Average Latency: 1.0 × 10<sup>-02</sup>

Max Latency: 1.5 × 10<sup>-02</sup>

Min Latency: 7.4 × 10<sup>-03</sup>

Median Latency: 9.8 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 18

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 24%

	Average Query Hit Efficiency (Forwarded QH / Received): 12%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 1.35

	Average Sent Requests: 0.76

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 1.33

	Average Count of Disabled Nodes: 2.00

