# disabled/3_regular_10_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 3.35

	Average Initialized Requests: 6.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 14 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 14



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.19

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.38


Average Latency: 9.08 × 10<sup>-03</sup>

Max Latency: 1.34 × 10<sup>-02</sup>

Min Latency: 7.66 × 10<sup>-03</sup>

Median Latency: 8.47 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.76 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 16

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 18%

	Average Query Hit Efficiency (Forwarded QH / Received): 9%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 1.95

	Average Sent Requests: 0.67

	Average Forwarded Query Hits: 0.13

	Average Received Requests: 1.27

	Average Count of Disabled Nodes: 2.00

