# disabled/3_regular_10_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.90

	Average Total Retries: 3.45

	Average Initialized Requests: 6.90

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 10 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 16



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.11

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.31


Average Latency: 8.9 × 10<sup>-03</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 7.0 × 10<sup>-03</sup>

Median Latency: 8.7 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 17

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 21%

	Average Query Hit Efficiency (Forwarded QH / Received): 10%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 1.45

	Average Sent Requests: 0.71

	Average Forwarded Query Hits: 0.14

	Average Received Requests: 1.36

	Average Count of Disabled Nodes: 2.00

