# all/3_regular_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.85

	Average Initialized Requests: 5.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 21 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 62



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.78

Min Hops: 4.00

Max Hops: 9.00

Median Hops: 5.50

Standard Deviation of Hops: 1.81


Average Latency: 2.90 × 10<sup>-02</sup>

Max Latency: 4.54 × 10<sup>-02</sup>

Min Latency: 1.97 × 10<sup>-02</sup>

Median Latency: 2.73 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.99 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 73

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 53%

	Average Query Hit Efficiency (Forwarded QH / Received): 21%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 2.95

	Average Sent Requests: 1.67

	Average Forwarded Query Hits: 0.33

	Average Received Requests: 2.10

	Average Count of Disabled Nodes: 0.00

