# all/3_regular_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.10

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.10

	Average Total Retries: 3.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 24 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 71



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.42

Min Hops: 4.00

Max Hops: 14.00

Median Hops: 6.00

Standard Deviation of Hops: 2.36


Average Latency: 3.0 × 10<sup>-02</sup>

Max Latency: 7.1 × 10<sup>-02</sup>

Min Latency: 1.7 × 10<sup>-02</sup>

Median Latency: 2.7 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.2 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 80

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 50%

	Average Query Hit Efficiency (Forwarded QH / Received): 22%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 3.70

	Average Sent Requests: 1.81

	Average Forwarded Query Hits: 0.39

	Average Received Requests: 2.28

	Average Count of Disabled Nodes: 0.00

