# all/3_regular_20_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.90

	Average Total Retries: 3.45

	Average Initialized Requests: 6.90

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 62



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.24

Min Hops: 4.00

Max Hops: 8.00

Median Hops: 5.00

Standard Deviation of Hops: 1.27


Average Latency: 2.7 × 10<sup>-02</sup>

Max Latency: 3.6 × 10<sup>-02</sup>

Min Latency: 2.1 × 10<sup>-02</sup>

Median Latency: 2.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.4 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 68

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 49%

	Average Query Hit Efficiency (Forwarded QH / Received): 17%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 4.10

	Average Sent Requests: 1.56

	Average Forwarded Query Hits: 0.26

	Average Received Requests: 2.00

	Average Count of Disabled Nodes: 0.00

