# all/3_regular_20_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 3.70

	Average Initialized Requests: 7.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 68



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.50

Min Hops: 4.00

Max Hops: 9.00

Median Hops: 5.00

Standard Deviation of Hops: 1.73


Average Latency: 2.6 × 10<sup>-02</sup>

Max Latency: 4.0 × 10<sup>-02</sup>

Min Latency: 1.6 × 10<sup>-02</sup>

Median Latency: 2.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 75

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 48%

	Average Query Hit Efficiency (Forwarded QH / Received): 19%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 4.10

	Average Sent Requests: 1.71

	Average Forwarded Query Hits: 0.30

	Average Received Requests: 2.18

	Average Count of Disabled Nodes: 0.00

