# disabled/cluster_6_with_30_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 10.00

	Median Query Hits: 10.00

	Max Query Hits: 10.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 90 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 1799



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.90

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.30


Average Latency: 1.24 × 10<sup>-02</sup>

Max Latency: 1.44 × 10<sup>-02</sup>

Min Latency: 7.67 × 10<sup>-03</sup>

Median Latency: 1.27 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.52 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 1799

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 8%

	Average Query Hit Efficiency (Forwarded QH / Received): 10%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.80

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 9.15

	Average Count of Disabled Nodes: 36.00

