# disabled/3_regular_50_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 2.00

	Average Initialized Requests: 6.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 166



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.00

Min Hops: 6.00

Max Hops: 6.00

Median Hops: 6.00

Standard Deviation of Hops: 0.00


Average Latency: 2.93 × 10<sup>-02</sup>

Max Latency: 3.17 × 10<sup>-02</sup>

Min Latency: 2.70 × 10<sup>-02</sup>

Median Latency: 2.93 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.59 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 166

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 59%

	Average Query Hit Efficiency (Forwarded QH / Received): 7%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 1.50

	Average Forwarded Query Hits: 0.12

	Average Received Requests: 1.83

	Average Count of Disabled Nodes: 10.00

