# disabled/3_regular_50_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.85

	Average Initialized Requests: 9.70

	Average True Success Rate (Any Query Hits): 25 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 115



## Average Query Hits Test Results:
<pre><code>Average Hops: 9.40

Min Hops: 7.00

Max Hops: 12.00

Median Hops: 10.00

Standard Deviation of Hops: 1.95


Average Latency: 4.41 × 10<sup>-02</sup>

Max Latency: 5.07 × 10<sup>-02</sup>

Min Latency: 3.52 × 10<sup>-02</sup>

Median Latency: 4.38 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.64 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 94

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 42%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 15.45

	Average Sent Requests: 0.93

	Average Forwarded Query Hits: 0.05

	Average Received Requests: 1.00

	Average Count of Disabled Nodes: 10.00

