# disabled/3_regular_50_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.60

	Average Initialized Requests: 9.20

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 70



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.60

Min Hops: 7.00

Max Hops: 8.00

Median Hops: 8.00

Standard Deviation of Hops: 0.55


Average Latency: 3.6 × 10<sup>-02</sup>

Max Latency: 4.0 × 10<sup>-02</sup>

Min Latency: 2.9 × 10<sup>-02</sup>

Median Latency: 3.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.0 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 73

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 34%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 19.30

	Average Sent Requests: 0.72

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.78

	Average Count of Disabled Nodes: 10.00

