# disabled/3_regular_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.45

	Average Initialized Requests: 22.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 143



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.39

Min Hops: 6.00

Max Hops: 10.00

Median Hops: 7.00

Standard Deviation of Hops: 1.25


Average Latency: 3.45 × 10<sup>-02</sup>

Max Latency: 4.26 × 10<sup>-02</sup>

Min Latency: 3.08 × 10<sup>-02</sup>

Median Latency: 3.29 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.33 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 173

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 46%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 11.00

	Average Sent Requests: 1.67

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 1.87

	Average Count of Disabled Nodes: 10.00

