# disabled/3_regular_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.40

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.40

	Average Total Retries: 4.45

	Average Initialized Requests: 22.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 139



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.25

Min Hops: 7.00

Max Hops: 9.00

Median Hops: 7.00

Standard Deviation of Hops: 0.71


Average Latency: 3.4 × 10<sup>-02</sup>

Max Latency: 4.1 × 10<sup>-02</sup>

Min Latency: 2.6 × 10<sup>-02</sup>

Median Latency: 3.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.0 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 169

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 47%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 11.05

	Average Sent Requests: 1.65

	Average Forwarded Query Hits: 0.06

	Average Received Requests: 1.82

	Average Count of Disabled Nodes: 10.00

