# disabled/3_regular_20_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 3.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 33 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 35



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.00

Min Hops: 4.00

Max Hops: 4.00

Median Hops: 4.00

Standard Deviation of Hops: 0.00


Average Latency: 2.1 × 10<sup>-02</sup>

Max Latency: 2.6 × 10<sup>-02</sup>

Min Latency: 1.6 × 10<sup>-02</sup>

Median Latency: 2.0 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 35

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 50%

	Average Query Hit Efficiency (Forwarded QH / Received): 22%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 0.72

	Average Forwarded Query Hits: 0.22

	Average Received Requests: 1.00

	Average Count of Disabled Nodes: 4.00

