# disabled/3_regular_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.85

	Average Initialized Requests: 7.70

	Average Success Rate (Unique Query Hits / Initialized Requests): 11 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 46



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.75

Min Hops: 4.00

Max Hops: 6.00

Median Hops: 5.00

Standard Deviation of Hops: 0.75


Average Latency: 2.2 × 10<sup>-02</sup>

Max Latency: 2.8 × 10<sup>-02</sup>

Min Latency: 1.7 × 10<sup>-02</sup>

Median Latency: 2.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 49

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 41%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 4.10

	Average Sent Requests: 1.20

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 1.38

	Average Count of Disabled Nodes: 4.00

