# disabled/3_regular_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.55

	Average Initialized Requests: 7.10

	Average True Success Rate (Any Query Hits): 60 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 42



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.92

Min Hops: 4.00

Max Hops: 8.00

Median Hops: 4.50

Standard Deviation of Hops: 1.24


Average Latency: 2.57 × 10<sup>-02</sup>

Max Latency: 4.08 × 10<sup>-02</sup>

Min Latency: 1.98 × 10<sup>-02</sup>

Median Latency: 2.40 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.10 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 47

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 39%

	Average Query Hit Efficiency (Forwarded QH / Received): 13%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 4.20

	Average Sent Requests: 1.14

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 1.32

	Average Count of Disabled Nodes: 4.00

