# disabled/3_regular_20_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.70

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.70

	Average Total Retries: 3.80

	Average Initialized Requests: 7.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 11 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 50



## Average Query Hits Test Results:
<pre><code>Average Hops: 4.79

Min Hops: 4.00

Max Hops: 7.00

Median Hops: 5.00

Standard Deviation of Hops: 0.80


Average Latency: 2.5 × 10<sup>-02</sup>

Max Latency: 3.4 × 10<sup>-02</sup>

Min Latency: 2.0 × 10<sup>-02</sup>

Median Latency: 2.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 52

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 39%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 3.85

	Average Sent Requests: 1.23

	Average Forwarded Query Hits: 0.19

	Average Received Requests: 1.48

	Average Count of Disabled Nodes: 4.00

