# disabled/3_regular_20_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.55

	Average Total Retries: 4.30

	Average Initialized Requests: 8.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 7 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 57



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 4.00

Max Hops: 9.00

Median Hops: 5.00

Standard Deviation of Hops: 1.48


Average Latency: 2.4 × 10<sup>-02</sup>

Max Latency: 4.0 × 10<sup>-02</sup>

Min Latency: 1.6 × 10<sup>-02</sup>

Median Latency: 2.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 54

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 39%

	Average Query Hit Efficiency (Forwarded QH / Received): 9%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 4.15

	Average Sent Requests: 1.31

	Average Forwarded Query Hits: 0.15

	Average Received Requests: 1.54

	Average Count of Disabled Nodes: 4.00

