# disabled/cluster_6_with_10_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 3.00

	Median Query Hits: 3.00

	Max Query Hits: 3.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 66 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 182



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.67

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.48


Average Latency: 1.11 × 10<sup>-02</sup>

Max Latency: 1.37 × 10<sup>-02</sup>

Min Latency: 7.58 × 10<sup>-03</sup>

Median Latency: 1.18 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.12 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 182

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 21%

	Average Query Hit Efficiency (Forwarded QH / Received): 8%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.00

	Average Sent Requests: 0.66

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 2.34

	Average Count of Disabled Nodes: 12.00

