# disabled/cluster_6_with_10_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.50

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 3.80

	Average Initialized Requests: 11.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 37



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.30

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.48


Average Latency: 9.5 × 10<sup>-03</sup>

Max Latency: 1.3 × 10<sup>-02</sup>

Min Latency: 7.6 × 10<sup>-03</sup>

Median Latency: 8.5 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.4 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 53

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 27%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 29.10

	Average Sent Requests: 0.43

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.47

	Average Count of Disabled Nodes: 12.00

