# disabled/cluster_6_with_10_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.40

	Average Initialized Requests: 13.20

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 39



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 1.00

Max Hops: 4.00

Median Hops: 1.00

Standard Deviation of Hops: 1.41


Average Latency: 1.2 × 10<sup>-02</sup>

Max Latency: 1.9 × 10<sup>-02</sup>

Min Latency: 7.7 × 10<sup>-03</sup>

Median Latency: 8.9 × 10<sup>-03</sup>

Standard Deviation of Latency: 5.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 66

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 31%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 26.35

	Average Sent Requests: 0.54

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.58

	Average Count of Disabled Nodes: 12.00

