# disabled/cluster_6_with_4_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 40



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.00

Min Hops: 1.00

Max Hops: 1.00

Median Hops: 1.00

Standard Deviation of Hops: 0.00


Average Latency: 8.3 × 10<sup>-03</sup>

Max Latency: 1.0 × 10<sup>-02</sup>

Min Latency: 6.4 × 10<sup>-03</sup>

Median Latency: 8.5 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 40

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 52%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 2.00

	Average Sent Requests: 0.70

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 1.00

	Average Count of Disabled Nodes: 5.00

