# disabled/cluster_6_with_4_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.70

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.70

	Average Total Retries: 2.95

	Average Initialized Requests: 8.85

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 25



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.21

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.43


Average Latency: 9.5 × 10<sup>-03</sup>

Max Latency: 1.4 × 10<sup>-02</sup>

Min Latency: 7.0 × 10<sup>-03</sup>

Median Latency: 9.4 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.1 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 35

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 38%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 7.60

	Average Sent Requests: 0.72

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.80

	Average Count of Disabled Nodes: 5.00

