# disabled/cluster_6_with_4_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.65

	Average Total Retries: 3.15

	Average Initialized Requests: 9.45

	Average True Success Rate (Any Query Hits): 65 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 13 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 24



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.08

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.28


Average Latency: 8.74 × 10<sup>-03</sup>

Max Latency: 1.19 × 10<sup>-02</sup>

Min Latency: 7.63 × 10<sup>-03</sup>

Median Latency: 8.64 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.10 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 37

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 37%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.25

	Average Sent Requests: 0.77

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.83

	Average Count of Disabled Nodes: 5.00

