# disabled/cluster_6_with_4_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.75

	Average Total Retries: 3.25

	Average Initialized Requests: 9.75

	Average Success Rate (Unique Query Hits / Initialized Requests): 13 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 31



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.10

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.34


Average Latency: 8.8 × 10<sup>-03</sup>

Max Latency: 1.2 × 10<sup>-02</sup>

Min Latency: 6.7 × 10<sup>-03</sup>

Median Latency: 8.7 × 10<sup>-03</sup>

Standard Deviation of Latency: 1.6 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 36

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 34%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.15

	Average Sent Requests: 0.70

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.83

	Average Count of Disabled Nodes: 5.00

