# disabled/cluster_6_with_4_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.70

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.70

	Average Total Retries: 3.40

	Average Initialized Requests: 10.20

	Average Success Rate (Unique Query Hits / Initialized Requests): 11 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 32



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.29

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 1.00

Standard Deviation of Hops: 0.47


Average Latency: 9.4 × 10<sup>-03</sup>

Max Latency: 1.3 × 10<sup>-02</sup>

Min Latency: 7.6 × 10<sup>-03</sup>

Median Latency: 8.6 × 10<sup>-03</sup>

Standard Deviation of Latency: 2.0 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 44

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 37%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 7.15

	Average Sent Requests: 0.88

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 1.01

	Average Count of Disabled Nodes: 5.00

