# all/cluster_6_with_20_nodes_each --- flood
## Source Nodes Test Results:
	Average Query Hits: 10.00

	Median Query Hits: 10.00

	Max Query Hits: 10.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 1.00

	Average Initialized Requests: 6.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 90 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 1275



## Average Query Hits Test Results:
<pre><code>Average Hops: 1.90

Min Hops: 1.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.30


Average Latency: 1.27 × 10<sup>-02</sup>

Max Latency: 1.42 × 10<sup>-02</sup>

Min Latency: 7.65 × 10<sup>-03</sup>

Median Latency: 1.31 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.49 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 1275

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 13%

	Average Query Hit Efficiency (Forwarded QH / Received): 15%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 1.00

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 9.55

	Average Count of Disabled Nodes: 0.00

