# all/cluster_6_with_20_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 3.95

	Average Initialized Requests: 11.85

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 111



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.67

Min Hops: 1.00

Max Hops: 6.00

Median Hops: 3.50

Standard Deviation of Hops: 1.83


Average Latency: 1.94 × 10<sup>-02</sup>

Max Latency: 3.09 × 10<sup>-02</sup>

Min Latency: 7.86 × 10<sup>-03</sup>

Median Latency: 1.87 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.84 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 140

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 38%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 67.70

	Average Sent Requests: 0.56

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.61

	Average Count of Disabled Nodes: 0.00

