# all/cluster_6_with_20_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.45

	Average Total Retries: 4.00

	Average Initialized Requests: 12.00

	Average True Success Rate (Any Query Hits): 45 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 6 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 2 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 67



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.89

Min Hops: 1.00

Max Hops: 7.00

Median Hops: 2.50

Standard Deviation of Hops: 2.20


Average Latency: 1.65 × 10<sup>-02</sup>

Max Latency: 3.34 × 10<sup>-02</sup>

Min Latency: 7.84 × 10<sup>-03</sup>

Median Latency: 1.41 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.45 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 110

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 28%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 78.10

	Average Sent Requests: 0.42

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.49

	Average Count of Disabled Nodes: 0.00

