# all/3_regular_50_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 3.00

	Median Query Hits: 3.00

	Max Query Hits: 3.00

	Average Unique Query Hits: 2.00

	Average Total Retries: 2.00

	Average Initialized Requests: 6.00

	Average True Success Rate (Any Query Hits): 100 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 33 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 33 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 161



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.00

Min Hops: 6.00

Max Hops: 9.00

Median Hops: 6.00

Standard Deviation of Hops: 1.43


Average Latency: 3.40 × 10<sup>-02</sup>

Max Latency: 4.61 × 10<sup>-02</sup>

Min Latency: 2.68 × 10<sup>-02</sup>

Median Latency: 3.15 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.46 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 323

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 63%

	Average Query Hit Efficiency (Forwarded QH / Received): 20%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 2.67

	Average Forwarded Query Hits: 0.44

	Average Received Requests: 3.62

	Average Count of Disabled Nodes: 0.00

