# all/3_regular_50_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.75

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.75

	Average Total Retries: 3.70

	Average Initialized Requests: 7.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 13 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 110



## Average Query Hits Test Results:
<pre><code>Average Hops: 8.96

Min Hops: 6.00

Max Hops: 18.00

Median Hops: 8.00

Standard Deviation of Hops: 3.22


Average Latency: 4.2 × 10<sup>-02</sup>

Max Latency: 8.7 × 10<sup>-02</sup>

Min Latency: 2.6 × 10<sup>-02</sup>

Median Latency: 3.9 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.7 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 152

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 55%

	Average Query Hit Efficiency (Forwarded QH / Received): 9%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 14.30

	Average Sent Requests: 1.41

	Average Forwarded Query Hits: 0.15

	Average Received Requests: 1.63

	Average Count of Disabled Nodes: 0.00

