# all/3_regular_50_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.90

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.90

	Average Total Retries: 3.50

	Average Initialized Requests: 7.00

	Average True Success Rate (Any Query Hits): 80 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 119



## Average Query Hits Test Results:
<pre><code>Average Hops: 9.59

Min Hops: 6.00

Max Hops: 17.00

Median Hops: 9.00

Standard Deviation of Hops: 2.94


Average Latency: 4.48 × 10<sup>-02</sup>

Max Latency: 7.91 × 10<sup>-02</sup>

Min Latency: 2.99 × 10<sup>-02</sup>

Median Latency: 4.11 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.27 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 141

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 50%

	Average Query Hit Efficiency (Forwarded QH / Received): 11%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 14.90

	Average Sent Requests: 1.25

	Average Forwarded Query Hits: 0.18

	Average Received Requests: 1.52

	Average Count of Disabled Nodes: 0.00

