# all/3_regular_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.95

	Average Total Retries: 4.15

	Average Initialized Requests: 20.75

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 244



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.53

Min Hops: 6.00

Max Hops: 11.00

Median Hops: 7.00

Standard Deviation of Hops: 1.70


Average Latency: 3.7 × 10<sup>-02</sup>

Max Latency: 5.6 × 10<sup>-02</sup>

Min Latency: 2.4 × 10<sup>-02</sup>

Median Latency: 3.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.0 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 276

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 64%

	Average Query Hit Efficiency (Forwarded QH / Received): 7%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 6.90

	Average Sent Requests: 2.55

	Average Forwarded Query Hits: 0.16

	Average Received Requests: 3.06

	Average Count of Disabled Nodes: 0.00

