# all/3_regular_50_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 1.00

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.00

	Average Total Retries: 4.35

	Average Initialized Requests: 21.75

	Average True Success Rate (Any Query Hits): 80 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 246



## Average Query Hits Test Results:
<pre><code>Average Hops: 8.47

Min Hops: 6.00

Max Hops: 11.00

Median Hops: 8.50

Standard Deviation of Hops: 1.61


Average Latency: 3.98 × 10<sup>-02</sup>

Max Latency: 5.38 × 10<sup>-02</sup>

Min Latency: 2.71 × 10<sup>-02</sup>

Median Latency: 3.85 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.49 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 301

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 66%

	Average Query Hit Efficiency (Forwarded QH / Received): 8%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 5.70

	Average Sent Requests: 2.78

	Average Forwarded Query Hits: 0.18

	Average Received Requests: 3.33

	Average Count of Disabled Nodes: 0.00

