# disabled/3_regular_30_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.35

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.35

	Average Total Retries: 4.25

	Average Initialized Requests: 8.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 60



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.86

Min Hops: 4.00

Max Hops: 13.00

Median Hops: 5.00

Standard Deviation of Hops: 3.24


Average Latency: 2.8 × 10<sup>-02</sup>

Max Latency: 5.5 × 10<sup>-02</sup>

Min Latency: 1.6 × 10<sup>-02</sup>

Median Latency: 2.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.3 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 74

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 43%

	Average Query Hit Efficiency (Forwarded QH / Received): 4%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 7.85

	Average Sent Requests: 1.25

	Average Forwarded Query Hits: 0.07

	Average Received Requests: 1.34

	Average Count of Disabled Nodes: 6.00

