# disabled/3_regular_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.65

	Average Initialized Requests: 9.30

	Average Success Rate (Unique Query Hits / Initialized Requests): 3 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 75



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.20

Min Hops: 4.00

Max Hops: 8.00

Median Hops: 6.00

Standard Deviation of Hops: 1.48


Average Latency: 3.1 × 10<sup>-02</sup>

Max Latency: 3.9 × 10<sup>-02</sup>

Min Latency: 2.4 × 10<sup>-02</sup>

Median Latency: 3.1 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.1 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 76

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 42%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 7.75

	Average Sent Requests: 1.27

	Average Forwarded Query Hits: 0.06

	Average Received Requests: 1.42

	Average Count of Disabled Nodes: 6.00

