# disabled/3_regular_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.30

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.30

	Average Total Retries: 4.55

	Average Initialized Requests: 9.10

	Average True Success Rate (Any Query Hits): 30 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 64



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.67

Min Hops: 4.00

Max Hops: 11.00

Median Hops: 4.50

Standard Deviation of Hops: 2.73


Average Latency: 2.77 × 10<sup>-02</sup>

Max Latency: 4.88 × 10<sup>-02</sup>

Min Latency: 1.95 × 10<sup>-02</sup>

Median Latency: 2.29 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.11 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 75

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 40%

	Average Query Hit Efficiency (Forwarded QH / Received): 3%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.35

	Average Sent Requests: 1.25

	Average Forwarded Query Hits: 0.06

	Average Received Requests: 1.40

	Average Count of Disabled Nodes: 6.00

