# disabled/tree_with_20_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.50

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.25

	Average Initialized Requests: 4.25

	Average True Success Rate (Any Query Hits): 50 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 15 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 25



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.37 × 10<sup>-02</sup>

Max Latency: 1.37 × 10<sup>-02</sup>

Min Latency: 1.37 × 10<sup>-02</sup>

Median Latency: 1.37 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.23 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 26

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 23%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 9.55

	Average Sent Requests: 0.54

	Average Forwarded Query Hits: 0.08

	Average Received Requests: 0.84

	Average Count of Disabled Nodes: 0.00

