# disabled/tree_with_20_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.20

	Average Initialized Requests: 8.40

	Average True Success Rate (Any Query Hits): 60 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 9 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 2 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 41



## Average Query Hits Test Results:
<pre><code>Average Hops: 3.00

Min Hops: 3.00

Max Hops: 3.00

Median Hops: 3.00

Standard Deviation of Hops: 0.00


Average Latency: 1.36 × 10<sup>-02</sup>

Max Latency: 1.38 × 10<sup>-02</sup>

Min Latency: 1.36 × 10<sup>-02</sup>

Median Latency: 1.36 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.28 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 45

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 26%

	Average Query Hit Efficiency (Forwarded QH / Received): 6%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 6.95

	Average Sent Requests: 0.93

	Average Forwarded Query Hits: 0.11

	Average Received Requests: 1.47

	Average Count of Disabled Nodes: 0.00

