# disabled/4_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.25

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.25

	Average Total Retries: 4.55

	Average Initialized Requests: 9.10

	Average Success Rate (Unique Query Hits / Initialized Requests): 4 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 28



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.3 × 10<sup>-02</sup>

Max Latency: 1.5 × 10<sup>-02</sup>

Min Latency: 1.0 × 10<sup>-02</sup>

Median Latency: 1.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 2.5 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 39

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 6%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 143.65

	Average Sent Requests: 0.09

	Average Forwarded Query Hits: 0.00

	Average Received Requests: 0.10

	Average Count of Disabled Nodes: 40.00

