# disabled/4_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.45

	Average Total Retries: 4.15

	Average Initialized Requests: 20.75

	Average Success Rate (Unique Query Hits / Initialized Requests): 3 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 55



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.33

Min Hops: 2.00

Max Hops: 5.00

Median Hops: 2.00

Standard Deviation of Hops: 0.95


Average Latency: 1.4 × 10<sup>-02</sup>

Max Latency: 2.5 × 10<sup>-02</sup>

Min Latency: 1.0 × 10<sup>-02</sup>

Median Latency: 1.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.2 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 74

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 7%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 138.75

	Average Sent Requests: 0.17

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.20

	Average Count of Disabled Nodes: 40.00

