# disabled/4_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.50

	Median Query Hits: 0.50

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.35

	Average Initialized Requests: 21.75

	Average True Success Rate (Any Query Hits): 50 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 68



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.00

Min Hops: 2.00

Max Hops: 2.00

Median Hops: 2.00

Standard Deviation of Hops: 0.00


Average Latency: 1.27 × 10<sup>-02</sup>

Max Latency: 1.36 × 10<sup>-02</sup>

Min Latency: 1.17 × 10<sup>-02</sup>

Median Latency: 1.26 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.69 × 10<sup>-04</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 84

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 9%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 136.15

	Average Sent Requests: 0.20

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.22

	Average Count of Disabled Nodes: 40.00

