# all/3_regular_30_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 1.25

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 1.25

	Average Total Retries: 3.25

	Average Initialized Requests: 6.50

	Average True Success Rate (Any Query Hits): 95 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 22 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 95



## Average Query Hits Test Results:
<pre><code>Average Hops: 9.08

Min Hops: 5.00

Max Hops: 15.00

Median Hops: 8.00

Standard Deviation of Hops: 2.50


Average Latency: 4.19 × 10<sup>-02</sup>

Max Latency: 6.47 × 10<sup>-02</sup>

Min Latency: 2.41 × 10<sup>-02</sup>

Median Latency: 3.85 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.09 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 113

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 45%

	Average Query Hit Efficiency (Forwarded QH / Received): 24%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 6.20

	Average Sent Requests: 1.59

	Average Forwarded Query Hits: 0.39

	Average Received Requests: 2.09

	Average Count of Disabled Nodes: 0.00

