# all/3_regular_30_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.85

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.85

	Average Total Retries: 3.40

	Average Initialized Requests: 6.80

	Average Success Rate (Unique Query Hits / Initialized Requests): 16 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 92



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.34

Min Hops: 4.00

Max Hops: 10.00

Median Hops: 8.00

Standard Deviation of Hops: 1.80


Average Latency: 3.4 × 10<sup>-02</sup>

Max Latency: 4.6 × 10<sup>-02</sup>

Min Latency: 2.4 × 10<sup>-02</sup>

Median Latency: 3.5 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.9 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 102

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 51%

	Average Query Hit Efficiency (Forwarded QH / Received): 14%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 7.65

	Average Sent Requests: 1.57

	Average Forwarded Query Hits: 0.22

	Average Received Requests: 1.88

	Average Count of Disabled Nodes: 0.00

