# all/3_regular_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 3.80

	Average Initialized Requests: 7.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 12 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 82



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.12

Min Hops: 4.00

Max Hops: 10.00

Median Hops: 6.00

Standard Deviation of Hops: 2.06


Average Latency: 3.0 × 10<sup>-02</sup>

Max Latency: 5.1 × 10<sup>-02</sup>

Min Latency: 1.7 × 10<sup>-02</sup>

Median Latency: 2.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 9.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 92

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 49%

	Average Query Hit Efficiency (Forwarded QH / Received): 10%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 8.80

	Average Sent Requests: 1.39

	Average Forwarded Query Hits: 0.17

	Average Received Requests: 1.72

	Average Count of Disabled Nodes: 0.00

