# all/3_regular_30_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.85

	Median Query Hits: 1.00

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 4.20

	Average Initialized Requests: 8.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 10 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 5 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 93



## Average Query Hits Test Results:
<pre><code>Average Hops: 7.17

Min Hops: 4.00

Max Hops: 9.00

Median Hops: 7.00

Standard Deviation of Hops: 1.81


Average Latency: 3.4 × 10<sup>-02</sup>

Max Latency: 4.6 × 10<sup>-02</sup>

Min Latency: 1.9 × 10<sup>-02</sup>

Median Latency: 3.2 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.8 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 104

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 52%

	Average Query Hit Efficiency (Forwarded QH / Received): 13%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 6.70

	Average Sent Requests: 1.56

	Average Forwarded Query Hits: 0.22

	Average Received Requests: 1.95

	Average Count of Disabled Nodes: 0.00

