# all/cluster_6_with_10_nodes_each --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.80

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.80

	Average Total Retries: 3.55

	Average Initialized Requests: 10.65

	Average True Success Rate (Any Query Hits): 80 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 12 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 82



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.56

Min Hops: 1.00

Max Hops: 6.00

Median Hops: 2.50

Standard Deviation of Hops: 1.67


Average Latency: 1.49 × 10<sup>-02</sup>

Max Latency: 3.09 × 10<sup>-02</sup>

Min Latency: 7.82 × 10<sup>-03</sup>

Median Latency: 1.41 × 10<sup>-02</sup>

Standard Deviation of Latency: 7.04 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 93

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 44%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 28.45

	Average Sent Requests: 0.73

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.82

	Average Count of Disabled Nodes: 0.00

