# all/cluster_6_with_10_nodes_each --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.70

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.70

	Average Total Retries: 3.80

	Average Initialized Requests: 11.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 74



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.93

Min Hops: 1.00

Max Hops: 5.00

Median Hops: 3.00

Standard Deviation of Hops: 1.33


Average Latency: 1.6 × 10<sup>-02</sup>

Max Latency: 2.5 × 10<sup>-02</sup>

Min Latency: 8.1 × 10<sup>-03</sup>

Median Latency: 1.6 × 10<sup>-02</sup>

Standard Deviation of Latency: 5.5 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 88

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 41%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 29.30

	Average Sent Requests: 0.67

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.79

	Average Count of Disabled Nodes: 0.00

