# disabled/tree_with_80_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.20

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.20

	Average Total Retries: 4.80

	Average Initialized Requests: 14.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 1 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 104



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.00

Min Hops: 5.00

Max Hops: 5.00

Median Hops: 5.00

Standard Deviation of Hops: 0.00


Average Latency: 2.3 × 10<sup>-02</sup>

Max Latency: 2.3 × 10<sup>-02</sup>

Min Latency: 2.3 × 10<sup>-02</sup>

Median Latency: 2.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 6.4 × 10<sup>-05</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 118

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 26%

	Average Query Hit Efficiency (Forwarded QH / Received): 0%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 45.85

	Average Sent Requests: 0.66

	Average Forwarded Query Hits: 0.01

	Average Received Requests: 0.85

	Average Count of Disabled Nodes: 0.00

