# all/megagraph_3_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.55

	Average Total Retries: 3.80

	Average Initialized Requests: 7.60

	Average Success Rate (Unique Query Hits / Initialized Requests): 11 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 45



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.82

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 3.00

Standard Deviation of Hops: 0.87


Average Latency: 1.57 × 10<sup>-02</sup>

Max Latency: 2.22 × 10<sup>-02</sup>

Min Latency: 1.14 × 10<sup>-02</sup>

Median Latency: 1.52 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.07 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 61

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 37%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 28.25

	Average Sent Requests: 0.57

	Average Forwarded Query Hits: 0.03

	Average Received Requests: 0.64

	Average Count of Disabled Nodes: 0.00

