# all/megagraph_3_clusters --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.35

	Median Query Hits: 0.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.35

	Average Total Retries: 4.20

	Average Initialized Requests: 8.40

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 42



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.57

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 2.00

Standard Deviation of Hops: 0.79


Average Latency: 1.6 × 10<sup>-02</sup>

Max Latency: 2.2 × 10<sup>-02</sup>

Min Latency: 1.2 × 10<sup>-02</sup>

Median Latency: 1.4 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.3 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 68

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 42%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 26.50

	Average Sent Requests: 0.65

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.70

	Average Count of Disabled Nodes: 0.00

