# all/megagraph_3_clusters --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.65

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.65

	Average Total Retries: 3.65

	Average Initialized Requests: 10.95

	Average True Success Rate (Any Query Hits): 65 %

	Average Success Rate (Unique Query Hits / Initialized Requests): 8 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 62



## Average Query Hits Test Results:
<pre><code>Average Hops: 2.69

Min Hops: 2.00

Max Hops: 4.00

Median Hops: 3.00

Standard Deviation of Hops: 0.75


Average Latency: 1.54 × 10<sup>-02</sup>

Max Latency: 2.23 × 10<sup>-02</sup>

Min Latency: 1.15 × 10<sup>-02</sup>

Median Latency: 1.65 × 10<sup>-02</sup>

Standard Deviation of Latency: 3.25 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 81

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 40%

	Average Query Hit Efficiency (Forwarded QH / Received): 2%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 25.10

	Average Sent Requests: 0.73

	Average Forwarded Query Hits: 0.04

	Average Received Requests: 0.86

	Average Count of Disabled Nodes: 0.00

