# all/5_regular_200_nodes --- flood
## Source Nodes Test Results:
	Average Query Hits: 24.00

	Median Query Hits: 24.00

	Max Query Hits: 24.00

	Average Unique Query Hits: 5.00

	Average Total Retries: 2.00

	Average Initialized Requests: 10.00

	Average Success Rate (Unique Query Hits / Initialized Requests): 50 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 380 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 1401



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.00

Min Hops: 4.00

Max Hops: 7.00

Median Hops: 6.00

Standard Deviation of Hops: 1.04


Average Latency: 3.0 × 10<sup>-02</sup>

Max Latency: 3.7 × 10<sup>-02</sup>

Min Latency: 1.9 × 10<sup>-02</sup>

Median Latency: 3.0 × 10<sup>-02</sup>

Standard Deviation of Latency: 4.7 × 10<sup>-03</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 7008

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 45%

	Average Query Hit Efficiency (Forwarded QH / Received): 7%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 0.00

	Average Sent Requests: 11.32

	Average Forwarded Query Hits: 0.73

	Average Received Requests: 23.35

	Average Count of Disabled Nodes: 0.00

