# all/5_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 0.50

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.30

	Average Initialized Requests: 12.90

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 175



## Average Query Hits Test Results:
<pre><code>Average Hops: 8.15

Min Hops: 4.00

Max Hops: 15.00

Median Hops: 6.50

Standard Deviation of Hops: 3.94


Average Latency: 3.80 × 10<sup>-02</sup>

Max Latency: 6.53 × 10<sup>-02</sup>

Min Latency: 2.07 × 10<sup>-02</sup>

Median Latency: 3.02 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.58 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 267

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 41%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 104.80

	Average Sent Requests: 0.63

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.70

	Average Count of Disabled Nodes: 0.00

