# all/5_regular_200_nodes --- normalized_flood
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 1.00

	Max Query Hits: 1.00

	Average Unique Query Hits: 0.55

	Average Total Retries: 4.30

	Average Initialized Requests: 12.90

	Average Success Rate (Unique Query Hits / Initialized Requests): 5 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 214



## Average Query Hits Test Results:
<pre><code>Average Hops: 8.27

Min Hops: 4.00

Max Hops: 14.00

Median Hops: 8.00

Standard Deviation of Hops: 3.20


Average Latency: 3.9 × 10<sup>-02</sup>

Max Latency: 6.2 × 10<sup>-02</sup>

Min Latency: 2.3 × 10<sup>-02</sup>

Median Latency: 3.8 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.3 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 265

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 39%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 109.25

	Average Sent Requests: 0.62

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.70

	Average Count of Disabled Nodes: 0.00

