# all/5_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.55

	Median Query Hits: 0.00

	Max Query Hits: 3.00

	Average Unique Query Hits: 0.50

	Average Total Retries: 4.50

	Average Initialized Requests: 22.50

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 1 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 163



## Average Query Hits Test Results:
<pre><code>Average Hops: 5.19

Min Hops: 4.00

Max Hops: 10.00

Median Hops: 5.00

Standard Deviation of Hops: 2.33


Average Latency: 2.59 × 10<sup>-02</sup>

Max Latency: 4.62 × 10<sup>-02</sup>

Min Latency: 1.93 × 10<sup>-02</sup>

Median Latency: 2.29 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.00 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 278

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 36%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 108.60

	Average Sent Requests: 0.63

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.76

	Average Count of Disabled Nodes: 0.00

