# all/5_regular_200_nodes --- random_walk
## Source Nodes Test Results:
	Average Query Hits: 0.60

	Median Query Hits: 0.50

	Max Query Hits: 2.00

	Average Unique Query Hits: 0.60

	Average Total Retries: 4.65

	Average Initialized Requests: 23.25

	Average Success Rate (Unique Query Hits / Initialized Requests): 2 %

	Average Redundant Query Hits (Unique Query Hits - Query Hits): 0 %

	Average Overhead Per Query Hit (Total Messages / Unique Query Hit): 233



## Average Query Hits Test Results:
<pre><code>Average Hops: 6.40

Min Hops: 4.00

Max Hops: 11.00

Median Hops: 6.00

Standard Deviation of Hops: 1.92


Average Latency: 3.1 × 10<sup>-02</sup>

Max Latency: 6.0 × 10<sup>-02</sup>

Min Latency: 2.1 × 10<sup>-02</sup>

Median Latency: 3.3 × 10<sup>-02</sup>

Standard Deviation of Latency: 1.1 × 10<sup>-02</sup>

</code></pre>

---------------------------------------------
## Intermediate Nodes Test Results:

	Average Total Work (Sent + Received + Forwarded QH): 294

	Average Wasted Requests ((Sent - Forwarded QH) / Received): 38%

	Average Query Hit Efficiency (Forwarded QH / Received): 1%

	Average Count of Zero Work Done Nodes (No Sent, Received, Forwarded QH): 103.95

	Average Sent Requests: 0.67

	Average Forwarded Query Hits: 0.02

	Average Received Requests: 0.80

	Average Count of Disabled Nodes: 0.00

